DATABASE_URL=<set in .env>
PORTFOLIO_BUDGET_USDC=<set in .env>
WALLET_PRIVATE_KEY=<set in .env>
POLYMARKET_SIGNATURE_TYPE=<set in .env>
POLYMARKET_FUNDER_ADDRESS=<set in .env>
POLYMARKET_API_KEY=<set in .env>
POLYMARKET_API_SECRET=<set in .env>
POLYMARKET_API_PASSPHRASE=<set in .env>
GOALSERVE_API_KEY=<set in .env>
GOALSERVE_PROXY=<set in .env>
GOALSERVE_LIVESCORE_BASE_URL=<set in .env>
SPORTS_LIVE_STATE_ENABLED=<set in .env>
ORDER_SIGN_TIMEOUT_MS=<set in .env>
ORDER_SUBMIT_TIMEOUT_MS=<set in .env>
TRADING_EVENT_QUEUE_MAX_SIZE=<set in .env>
TRADING_QUEUE_WARN_DEPTH=<set in .env>
PAPER_TRADING_MODE=<set in .env>
